.user-main{
    overflow: hidden;
    display: flex;
}
.user-main .side-navbar{
    padding-top: 3vh;
    width: 20vw;
    background: linear-gradient(#2980b9,#8944ad);
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-main .side-navbar .profile-image{
    height: 15vw;
    width: 15vw;
    margin-left: 2.5vw;
    background-color: black;
    border-radius: 10vw;
    margin-bottom: 1vh;
    
}
.user-main .side-navbar ul li{
    list-style: none;
}
.user-main .side-navbar .userlinks .links a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 50px;
}
.userlinks{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-footer{
    width: 20vw;
    color: white;
    height: 25vh;
    margin-top: 1vh;
    align-items: baseline;
    overflow: hidden;
}
.user-homepage{
    height: 100vh;
    width: 80vw;
    margin-left: 20.5vw;
    overflow-x: hidden;
    overflow-y:hidden;

}
.user-homepage .a1st,.a2nd,.a3rd,.a4th,.a5th{
    height: 100%;
    width: 100%;
}
.a1st{
    background-color: red;
    display: flex;
    flex-direction: column;
    
}
.FullScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to right,white,blue);
    border: 5px solid blue;
    font-size: 20px;
    height: 20vh;
}
.a2nd{
}
.a3rd{
}
.a4th{
}
.a5th{
}